project: "E6691 Final: Learning Latent Dynamics for Planning from Pixels"
authors: 
  - "Sam Fieldman"
  - "Trevor Gordon"


# Stochastic State Space Model set-up
# Only posses the Feed-Foward Probalistic transition model
ssm:
  activation: "ELU"
  embed_size: 1024
  hidden_dim: 200
  belief_size: 0
  state_size: 30

# Recurrent State Space Model set-up
# Only posses the RNN transition model
rnn:
  activation: "ELU"
  embed_size: 1024
  hidden_dim: 200
  belief_size: 200
  state_size: 0

# Recurrent State Space Model set-up
# Contains both SSM and RNN components
rssm:
  activation: "ELU"
  embed_size: 1024
  hidden_dim: 200
  belief_size: 200
  state_size: 30

# Memory buffer hyperparameters
memory:
  size: 1_000_000
  symbolic_env: False
  bit_depth: 5


# environments hyperparameters
env:
  symbolic_env: False
  max_episode_length: 1000
  action_repeat: 1 
  bit_depth: 5
 

# Training hyperparameters
train:
  grad_clip_norm: 1_000
  learning_rate: 0.001
  lr_schedule: 0
  adam_epsilon: 0.0001
  batch_size: 64
  train_iters: 100
  seq_length: 10

  # weight parameters for KL-divergence and latent overshooting loss terms 
  kl_clip: 3.0
  global_kl_beta: 0.5
  overshooting_kl_beta: 0
  overshooting_distance: 50


# Model Predictive Control Hyperparameters
mpc:
  planning_horizon: 12
  optimization_iters: 5
  candidates: 300
  top_candidates: 30

   
# Miscellanious parameters for data collection
# experiment tracking, and experiment set-up

# how frequently to test the model, the number of 
# trajectories to test with, and how often to checkpoint 
# our progress.
test_interval: 5
test_episodes: 10
checkpoint_interval: 50

# total number of trajectories to collect.
# and the initial number of trajectories to 
# add to the replay buffer (memory)
episodes: 1000
seed_episodes: 5

# magnitude of the random noise added to out
# actions while collecting data.
action_noise: 0.3
